h5 { 
    text-align: left;
    color: white; 
    
}
h6
{vertical-align: middle;
    text-align: center;
}

h1 {text-align: center;
    color: white;
    font-style:unset;
}

p{
    text-align: center;
    border-radius: inherit;
}
